:root {
    --main-bg-color: #FFFFFF;
    --footer-bg-color: #2F303A;
    
    --title-color: #212121;
    --main-text-color: #757575;
    --hero-heading-color: #FFFFFF;
    --hero-bg-color: #2F303A;
    --hero-button-bg: #188CE8;
    --team-bg: #F5F4FA;
    --section-team-bg: #FFFFFF;
    
    --active-color: #2196F3;
    --active-color-letters: #FFFFFF;
    
    --logo-header-color: #000000;
    --logo-footer-color: #FFFFFF;
    
    --address-link-color: #757575;
    --address-maplink-color: #FFFFFF;
    --footer-address-link-color: rgba(255, 255, 255, 0.6) --nav-button-color:#212121;
    --contacts-link-color: #757575;

    --nav-button-color: #212121;
    --portfolio-bt: #212121;
    --portfolio-bt-bg: #F5F4FA;

    --team-name-color: #212121;
}

