   :root{
       --main-color: #212121;
       --second-text-color: #757575;
       --active-color: #2196F3;
       
   }
   /* main color #212121*/
    /*second text color #757575*/
    /*active color blue #2196F3*/
    /*white color #FFFFFF*/
    /* footer colot phone, email rgba(255, 255, 255, 0.6)*/

body{
    font-family: Roboto, sans-serif;
    color: var(--second-text-color);
}
.list {
    list-style: none;
    text-decoration: none;

}
.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--active-color);
    
}
.logo >span{
    color: black;
}
.logo:hover, 
.logo:focus{
    text-decoration: underline;
}

/* header main navigation */


.site-nav .link{

    color: var(--main-color);
text-decoration: none;
   
   }
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus{
    color: var(--active-color);
}
.contacts .link{ 
    color: var(--second-text-color);
    list-style: none;
    text-decoration: none;
}



 /*main sections  */

.hero-heading{
    background-color: #2F303A;
}
.heading{
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    line-height: 1,36;
}
.hero-button{
    color: #FFFFFF;
    background-color: var(--active-color);
    
}
.text-caption{
    color: var(--main-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.text-content{
    line-height: 1,71;    
    letter-spacing: 0.03em;
    font-size: 14px;
    font-weight: 400;
}
.work-text{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--main-color);
}
.team-heading{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--main-color);
}
.team-names{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--main-color);
}
.team-prof{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}
/* footer styles */

.footer-space{
    background-color: #2F303A;
}
.footer-logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
line-height: 1.19;
letter-spacing: 0.03em;

color:var(--active-color) ;
}
.footer-logo> span{
    color: #FFFFFF;
}

.address .link{
    list-style: none;
    text-decoration: none;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}
.address-link{
    color: #FFFFFF;
    font-style: normal;
    text-decoration: none;
}
.footer-logo:hover,
.footer-logo:focus,
.address .link:hover,
.address .link:focus,
.address-link:hover,
.address-link:focus{
        text-decoration: underline;
        }


